POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
DB_NAME=foodgram
DB_HOST=db
DB_PORT=0000
SECRET_KEY=secret_key
DEBUG=False_or_True
ALLOWED_HOSTS=0.0.0.0,example.com
